<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>fallbacks</key>
	<array>
		<string>features.websearch.google.fallback</string>
		<string>features.websearch.custom.4CDC59AC-47AB-41E7-8F38-781B8CE9835F.fallback</string>
		<string>features.websearch.custom.556CC339-AC6D-4E36-8552-DA40AE86E7EB.fallback</string>
		<string>features.websearch.bing.fallback</string>
	</array>
	<key>showArchives</key>
	<true/>
	<key>showFolders</key>
	<true/>
	<key>showTextFiles</key>
	<true/>
</dict>
</plist>
